# Core functionality - changes here should be rare!
/src/app.py                   @MsMatu
/src/backend/database.py      @MsMatu
/src/backend/routers/auth.py  @MsMatu

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MsMatu
